* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hidden {
    display: none;
  }

body {
    background-color: #252525;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 25px 3px 3px 3px;
    font-size: 40px;
    color: #ffffff;
}

h2 {
    line-height: 1.2;
    font-size: 40px;
    color: #3880ff;
    font-weight: 500;
}

form {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}

button {
    font-size: 15px;
    text-transform: uppercase;
    background-color: #3880ff;
    color: #ffffff;
    margin-top: 0px;
    border-style: hidden;
    border-radius: 5px;
    height: 30px;
}

button:hover {
    background-color: #3365c4;
}

span {
    background-color: #383838;
    color: #ffffff;
    margin-bottom: 10px;
    padding-right: 38px;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
    font-size: 14px;
}

span:hover {
    background-color: #494949;
}

[type="number"] {
    margin-top: -10px;
    background-color: #2d5aac00;
    padding-left: 10px;
    border: 2px solid #3880ff;
    border-radius: 8px;
    height: 30px;
    color: white;
}

.left-paragraph {
    font-size: 14px;
    color: #cddcf7;
    margin: -20px 10px 0px 10px;
}

.left-container {
    padding: 2px 14px 30px 14px;
    background-color: #3880ff;
    width: auto;
    box-sizing: border-box;
    text-align: center;
}

.right-container {
    background-color: #252525;
    padding: 0px 15px 0px 15px;
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
    }

    .left-container {
        text-align: left;
        width: 480px;
        height: auto;
        padding-top: 100px;
    }

    .right-container {
        margin-top: 100px;
        width: 100%;
        height: 100vh;
    }

    form {
        display: inline;
    }

    button {
        margin-top: 20px;
        width: 200px;
    }

    [type="number"] {
        margin-top: 20px;
        width: 30rem;
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
    }

    .left-container {
        text-align: left;
        width: 600px;
        height: auto;
        padding: 150px 50px 0px 50px;
    }

    .left-title {
        font-size: 45px;
        padding-left: 7px;
    }

    .right-title {
        margin-bottom: 0px;

    }

    .left-paragraph {
        font-size: 17px;
        padding: 0px;
    }

    .right-container {
        margin-top: 150px;
        width: 100%;
        height: 100vh;
        padding-left: 100px;
    }

}